AlphaFS.UnitTest/PathTestData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PathTestData">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Row">
          <xs:complexType>
            <xs:all>
              <xs:element name="Input" type="xs:string" maxOccurs="1" minOccurs="1" />
              <xs:element name="Root" type="xs:string" maxOccurs="1" minOccurs="1" />
              <xs:element name="DirectoryName" type="xs:string" maxOccurs="1" minOccurs="1"/>
              <xs:element name="DirectoryNameWithoutRoot" type="xs:string" maxOccurs="1" minOccurs="1"/>
              <xs:element name="FileName" type="xs:string" maxOccurs="1" minOccurs="1"/>
              <xs:element name="FileNameWithoutExtension" type="xs:string" />
              <xs:element name="Extension" type="xs:string" maxOccurs="1" minOccurs="1"/>
              <xs:element name="FullPath" type="xs:string" maxOccurs="1" minOccurs="1"/>
              <xs:element name="LongFullPath" type="xs:string" maxOccurs="1" minOccurs="1"/>
              <xs:element name="HasFileName" type="xs:boolean" maxOccurs="1" minOccurs="1"/>
              <xs:element name="HasExtension" type="xs:boolean" maxOccurs="1" minOccurs="1"/>
              <xs:element name="IsRooted" type="xs:boolean" maxOccurs="1" minOccurs="1"/>
              <xs:element name="Parent" type="xs:string" maxOccurs="1" minOccurs="1"/>
            </xs:all>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>